<section class="modal_overlay_details" id="moda" id="overlay">
  <div class="modal_details">
    <div id="div_img_details">
      <h3>Óculos: <%= oculos.name %>
      </h3>
      <a href="/" id="close_modal_details"><i id="close_details" class="bi bi-x"></i></a>
    </div>
    <div id="info">
      <img id="image_details" src="<%= oculos.image %>" alt="<%= oculos.name %>" />
      <div id="info_details">
        <div>Cor: <%= oculos.collor %>
        </div>
        <div>Lente: <%= oculos.lens_type %>
        </div>
      </div>
    </div>

  </div>
</section>